<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- <link rel="stylesheet" href="../css/base.css" />
    <link rel="stylesheet" href="../css/header.css" /> -->

    <!-- <link rel="stylesheet" href="../css/home.css" /> -->
    <link rel="stylesheet" href="../font-awsome-icons/css/all.css" />
    <link rel="icon" href="../font/others/icon.png" type="image/x-icon" />
    <style>
      body {
        font-family: Arial;
        font-size: 17px;
        padding: 8px;
      }

      * {
        box-sizing: border-box;
      }

      .row {
        display: -ms-flexbox; /* IE10 */
        display: flex;
        -ms-flex-wrap: wrap; /* IE10 */
        flex-wrap: wrap;
        margin: 0 -16px;
      }

      .col-25 {
        -ms-flex: 25%; /* IE10 */
        flex: 25%;
      }

      .col-50 {
        -ms-flex: 50%; /* IE10 */
        flex: 50%;
      }

      .col-75 {
        -ms-flex: 75%; /* IE10 */
        flex: 75%;
      }

      .col-25,
      .col-50,
      .col-75 {
        padding: 0 16px;
      }

      .container {
        background-color: #f2f2f2;
        padding: 5px 20px 15px 20px;
        border: 1px solid lightgrey;
        border-radius: 3px;
      }

      input[type="text"] {
        width: 100%;
        margin-bottom: 20px;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 3px;
        outline: none;
      }

      textarea{
        width: 100%;
        height: 10em;
        resize: none;
        outline: none;
      }

      
      input[type="file"] {
        width: 100%;
        margin-bottom: 20px;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 3px;
        outline: none;
      }

        select {
        width: 100%;
        margin-bottom: 20px;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 3px;
        outline: none;
      }

      label {
        margin-bottom: 10px;
        display: block;
      }

      .icon-container {
        margin-bottom: 20px;
        padding: 7px 0;
        font-size: 24px;
      }

      .btn {
        background-color: #aa0436;
        color: white;
        padding: 12px;
        margin: 10px 0;
        border: none;
        width: 100%;
        border-radius: 3px;
        cursor: pointer;
        font-size: 17px;
      }

      .btn:hover {
        background-color: #e9650d;
      }

      a {
        color: #2196f3;
      }

      hr {
        border: 1px solid lightgrey;
      }

      span.price {
        float: right;
        color: grey;
      }

      /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
      @media (max-width: 800px) {
        .row {
          flex-direction: column;
        }
        .col-25 {
          margin-bottom: 20px;
        }
      }
    </style>
  </head>
  <body>
    <%# include("header") %>
<!-- 
    <h2>Responsive Checkout Form</h2>
    <p>
      Resize the browser window to see the effect. When the screen is less than
      800px wide, make the two columns stack on top of each other instead of
      next to each other.
    </p> -->
    <div class="row">
      <div class="col-75">
        <div class="container">
          <form action="/add-item" method="post">
            <div class="row">
              <div class="col-50">
                <h3>Billing Address</h3>
 
                <!-- <label for="city"
                  ><i class="fa fa-institution"></i> Discount</label
                >
                <input type="text" id="city" name="city" placeholder="17" /> -->

                <div class="row">
                  <div class="col-50">
                    <label for="state">Name</label>
                    <input
                      type="text"
                      id="state"
                      name="name"
                      placeholder="Coffe"
                    />
                  </div>
                  <div class="col-50">
                    <label for="zip">Picture name</label>
                    <input
                      type="text"
                      id="zip"
                      name="pic"
                      placeholder="pic.jpg"
                    />
                  </div>

                     <div class="col-50">
                    <label for="state">Category</label>
                    <select name="category" id="state" required>
                      <option value="" disabled selected>----Select one----</option>
                      <option value="Men's Fassion">Men's Fassion</option>
                      <option value="Women's Fassion">Women's Fassion</option>
                      <option value="Kid's Fassion">Kid's Fassion</option>
                      <option value="Kitchen">Kitchen</option>
                      <option value="Supermarket">Supermarket</option>
                      <option value="Phones & Accessories">Phones & Accessories</option>
                      <option value="Computers">Computers</option>
                      <option value="Home & Office">Home & Office</option>
                      <option value="Others">Others</option>
                    </select>
                   
                  </div>
                  <div class="col-50">
                    <label for="zip">Price</label>
                    <input
                      type="text"
                      id="zip"
                      name="price"
                      placeholder="GHS 20"
                    />
                  </div>

                     <div class="col-50">
                    <label for="state">Rate</label>
                    <input
                      type="text"
                      id="state"
                      name="rate"
                      placeholder="20"
                    />
                  </div>
                  <div class="col-50">
                    <label for="zip">Shipping from</label>
                    <input
                      type="text"
                      id="zip"
                      name="location"
                      placeholder="Cape Coast"
                    />
                  </div>

                     <div class="col-50">
                    <label for="state">Stars</label>
                    <input
                      type="text"
                      id="state"
                      name="stars"
                      placeholder="58"
                    />
                  </div>


                  <div class="col-50">
                    <label for="state">Mian picture</label>
                    <input
                      type="text"
                      id="state"
                      name="mainPic"
                      placeholder="Coffe"
                    />
                  </div>

                  <div class="col-50">
                    <label for="state">Other pictures</label>
                    <input
                      type="text"
                      id="state"
                      name="otherPics"
                      placeholder="Coffe"
                    />
                  </div>


                  <div class="col-50">
                    <label for="zip">Discount</label>
                    <input
                      type="text"
                      id="zip"
                      name="discount"
                      placeholder="36"
                    />
                  </div>
                </div>
              </div>

              <div class="col-50">
                <h3>Payment</h3>
               

                
                <label for="cname">Specifications</label>
                <textarea
                  type="text"
                  id="cname"
                  name="spec"
                  placeholder="Here goes the detailed description of the item"
                ></textarea>


                <label for="cname">Description</label>
                <textarea
                  type="text"
                  id="cname"
                  name="description"
                  placeholder="Here goes the detailed description of the item"
                ></textarea>
               
            <input type="submit" value="Save" class="btn" />
              </div>
          </form>
        </div>
      </div>
     
    </div>
  </body>
</html>
