<form action="/" method="post" onsubmit="shew()">
  <input type="hidden" name="cat" value="Fassion02" />
  <button id="cat">
    <em style="font-size: 20px" class="mdi cat-icon mdi-human-handsdown"></em>
    Men's Fassion
  </button>
</form>
<form action="/" method="post" onsubmit="shew()">
  <input type="hidden" name="cat" value="Fassion01" />
  <button type="submit" id="cat">
    <em style="font-size: 20px" class="mdi cat-icon mdi-human-female"></em
    >women's Fassion
  </button>
</form>

<form action="/" method="post" onsubmit="shew()">
  <input type="hidden" name="cat" value="3" />
  <button id="cat">
    <em style="font-size: 20px" class="mdi cat-icon mdi-baby-buggy"></em>Kids
  </button>
</form>

<form action="/food" method="GET" onsubmit="shew()">
  <input type="hidden" name="cat" value="3" />
  <button id="cat">
    <em style="font-size: 20px" class="mdi cat-icon mdi-food-fork-drink"></em
    >Nyankie food
  </button>
</form>

<form action="/" method="post" onsubmit="shew()">
  <input type="hidden" name="cat" value="3" />
  <button id="cat">
    <em style="font-size: 20px" class="mdi cat-icon mdi-blender-outline"></em
    >Kitchen
  </button>
</form>

<form action="/" method="post" onsubmit="shew()">
  <input type="hidden" name="cat" value="3" />
  <button id="cat">
    <em style="font-size: 20px" class="mdi cat-icon mdi-food-apple-outline"></em
    >Supermarket
  </button>
</form>

<form action="/" method="post" onsubmit="shew()">
  <input type="hidden" name="cat" value="3" />
  <button id="cat">
    <em style="font-size: 20px" class="mdi cat-icon mdi-cellphone"></em>Phones &
    Accessories
  </button>
</form>

<form action="/" method="post" onsubmit="shew()">
  <input type="hidden" name="cat" value="Computers" />
  <button id="cat">
    <em style="font-size: 20px" class="mdi cat-icon mdi-monitor-small"></em
    >Computers
  </button>
</form>

<form action="/" method="post" onsubmit="shew()">
  <input type="hidden" name="cat" value="5" />
  <button id="cat">
    <em style="font-size: 20px" class="mdi cat-icon mdi-bed-double-outline"></em
    >Home & Office
  </button>
</form>

<form action="/" method="post" onsubmit="shew()">
  <input type="hidden" name="cat" value="6" />
  <button id="cat">
    <em
      style="font-size: 20px"
      class="mdi cat-icon mdi-alpha-o-box-outline"
    ></em
    >Others
  </button>
</form>
