 <form action="/" method="post" onsubmit="shew()">
     <input type="hidden" name="cat" value="Fassion02" />
     <button id="cat">
         <em style="font-size: 20px" class="mdi cat-icon mdi-tshirt-crew-outline"></em>
         Men's Fassion
     </button>
 </form>
 <form action="/" method="post" onsubmit="shew()">
     <input type="hidden" name="cat" value="Fassion01" />
     <button type="submit" id="cat">
         <em style="font-size: 20px" class="mdi cat-icon mdi-food-takeout-box-outline"></em>women's Fassion
     </button>
 </form>

 <form action="/" method="post" onsubmit="shew()">
     <input type="hidden" name="cat" value="3" />
     <button id="cat">
         <em style="font-size: 20px" class="mdi cat-icon mdi-cellphone"></em>Kids
     </button>
 </form>

 <form action="/" method="post" onsubmit="shew()">
     <input type="hidden" name="cat" value="3" />
     <button id="cat">
         <em style="font-size: 20px" class="mdi cat-icon mdi-cellphone"></em>Kitchen
     </button>
 </form>

 <form action="/" method="post" onsubmit="shew()">
     <input type="hidden" name="cat" value="3" />
     <button id="cat">
         <em style="font-size: 20px" class="mdi cat-icon mdi-cellphone"></em>Supermarket
     </button>
 </form>

 <form action="/" method="post" onsubmit="shew()">
     <input type="hidden" name="cat" value="3" />
     <button id="cat">
         <em style="font-size: 20px" class="mdi cat-icon mdi-cellphone"></em>Phones & Accessories
     </button>
 </form>

 <form action="/" method="post" onsubmit="shew()">
     <input type="hidden" name="cat" value="Computers" />
     <button id="cat">
         <em style="font-size: 20px" class="mdi cat-icon mdi-desktop-mac"></em>Computers
     </button>
 </form>

 <form action="/" method="post" onsubmit="shew()">
     <input type="hidden" name="cat" value="5" />
     <button id="cat">
         <em style="font-size: 20px" class="mdi cat-icon mdi-tshirt-crew-outline"></em>Home & Office
     </button>
 </form>

 <form action="/" method="post" onsubmit="shew()">
     <input type="hidden" name="cat" value="6" />
     <button id="cat">
         <em style="font-size: 20px" class="mdi cat-icon mdi-alpha-o-box-outline"></em>Others
     </button>
 </form>