<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link
  rel="stylesheet"
  href="../material-icons/css/materialdesignicons.min.css"
  media="all"
/>
    <title>Document</title>
    <style>
        body{
            padding-top: 100px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            color: red;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
</head>
<body>
    <i style="font-size: 40px; color: rgb(255, 69, 0, 0.6);" class="mdi mdi-cancel"></i>    <!-- <video src="../font/SERMONS/Give Jack His Jacket!  Day 4  Freedom From Fear Bible Lecture Series By Randy Skeete.mp4"></video> -->
    <video src="../font/SERMONS/PASTOR RANDY SKEETE/a.mp4" width="300" height="300" controls></video>
</body>
</html>