<div id="big-right" class="f-sale">
  <button id="view-more">
    <label for="">Welcome deal</label>
    <em class="mdi mdi-chevron-right-circle"></em>
  </button>
  <div id="super-deals">
    <% Object.keys(items2).forEach(key => { var row = items2[key]; %>
    <div id="item-category">
      <form onsubmit="shew()" action="/det" method="post">
        <input type="hidden" name="id" value="<%=row.id%>" />
        <button id="img-con1">
          <img
            id="item-category-img"
            src="../font/<%=row.pic%>"
            alt=""
            srcset=""
          />
        </button>
      </form>
      <div id="super-deal-price">GH₵ 23.00</div>
    </div>

    <%})%>
  </div>
</div>
