<link rel="stylesheet" href="../css/footer.css" />

<footer>
    <div   id="footer-top">
        <div class="column" id="about">
            <div id="head">ABOUT NYANKY</div>
            <div id="content">
                NYANKY is an online shopping mall that provide a 
                room for you to buy all your quality items online. We provide you a 
                secured ordering system that allows you to place your order online. read more
            </div>
        </div>
        <div class="column" id="service">
             <div id="head">ABOUT NYANKY</div>

             <div id="content">
                 <div>Subscribe to our news letter:</div>
                 <form action="" method="post" style="display: flex; flex-direction: row;"> 
                     <input type="email" name="" id="F-input" placeholder="Enter your email" value="<%=email%>">
                     <button type="submit" style="border: none; cursor: pointer">Subscribe</button>
                 </form>
                 
             </div>
        </div>
        <div class="column" id="links">
             <div id="head">QUICK LINK</div>
        </div>
    </div>
    <div id="footer-bottom"></div>
</footer>