<link rel="stylesheet" href="../css/footer.css" />

<footer>
    <div id="footer-top">
        <div id="about"></div>
        <div id="service"></div>
        <div id="links"></div>
    </div>
    <div id="footer-bottom"></div>
</footer>