<link rel="stylesheet" href="../css/footer.css" />

<footer>
    <div id="footer-top">
        <div class="column" id="about">
            <div id="head">ABOUT NYANKY</div>
            <div id="content">
                This is just a demo app so kindly ignore the content of this page
            </div>
        </div>
        <div class="column" id="service">
            <div id="head">CONTACT US</div>


            <div id="content">
                <div>
                    <i title="Facebook" style="font-size: 20px; color: silver" class="mdi mdi-phone-outline"></i>
                    +233555089255/+23357074382
                </div>
                <div>
                    <i title="Facebook" style="font-size: 20px; color: silver" class="mdi mdi-email-send-outline"></i>
                    nyankson25@gmail.com
                </div><br>

                <div>Subscribe to our news letter:</div>
                <form action="" method="post" style="display: flex; flex-direction: row;">
                    <input type="email" name="" id="F-input" placeholder="Enter your email" value="">
                    <button type="submit"
                        style="border: none; cursor: pointer; background: orangered; color: white;">Subscribe</button>
                </form>

            </div>
        </div>
        <div class="column" id="links">
            <div id="head">QUICK LINK</div>
            <div id="soc-media">
                <a href=""><i title="Facebook" style="font-size: 34px; color: silver" class="mdi mdi-facebook"></i></a>
                
                <a href=""><i title="Twiter" style="font-size: 34px; color: silver" class="mdi mdi-twitter"></i></a>

                <a href=""><i title="Youtube" style="font-size: 34px; color: silver" class="mdi mdi-youtube"></i></a>
                
                <a href=""><i title="Linkedin" style="font-size: 34px; color: silver" class="mdi mdi-linkedin"></i></a>
                
            </div>

        </div>
    </div>
    <div id="footer-bottom"></div>
</footer>