<div id="demo">
    <div id="weekly-deal">Weakly deal</div>
    <div class="groups">
        <% for (i in groups){
            let group = groups[i]
        let pic = group.pictures%>
        <div id="group">
            <div id="group-container">
                <% for (i in pic){%>
                    <form id="group-form" action="/" method="get">
                        <button id="group-img-btn">
                        <div id="img-container">
                            <img id="group-img" src="../font/<%- pic[i] %> " alt="" srcset="">
                        </div>                        
                         <div id="group-name">name</div>
                    </button>
                    </form>
                    
                <%} %>

            </div>
        </div>
        <%} %>
    </div>
</div>

