<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/base.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/home.css" />
    <link rel="stylesheet" href="../css/help.css" />
    <link rel="stylesheet" href="../font-awsome-icons/css/all.css" />
    <link rel="stylesheet" href="../material-icons/css/materialdesignicons.min.css" media="all" />
    <title>Document</title>
</head>

<body>
    <%- include("header")%>

    <%# include("loader") %>
    <ul>
        <li>
            <div id="container">

        <details>
            <summary>ABOUT US</summary>
            <div id="content">
                <ul>
                    <li>Digital marketing is developing at an incredible rate each day. Online shopping has become the most influencial and widely used technique most </li>
                    <li>jkdhskjhdksjkjdsj</li>
                    <li>jkdhskjhdksjkjdsj</li>
                    <li>jkdhskjhdksjkjdsj</li>
                    <li>jkdhskjhdksjkjdsj</li>
                    <li>jkdhskjhdksjkjdsj</li>
                    <li>jkdhskjhdksjkjdsj</li>
                    <li>jkdhskjhdksjkjdsj</li>
                </ul>
            </div>
        </details>
    </div>
        </li>

        <li>
            <div id="container">

        <details>
            <summary>How to sell on NYANKIE</summary>
            <div id="content">
                <ul>
                    <li>jkdhskjhdksjkjdsj</li>
                    <li>jkdhskjhdksjkjdsj</li>
                    <li>jkdhskjhdksjkjdsj</li>
                    <li>jkdhskjhdksjkjdsj</li>
                    <li>jkdhskjhdksjkjdsj</li>
                    <li>jkdhskjhdksjkjdsj</li>
                    <li>jkdhskjhdksjkjdsj</li>
                    <li>jkdhskjhdksjkjdsj</li>
                </ul>
            </div>
        </details>
    </div>
        </li>

        <li>
            <div id="container">

        <details>
            <summary>About us</summary>
            <div id="content">
                <ul>
                    <li></li>
                    <li>jkdhskjhdksjkjdsj</li>
                    <li>jkdhskjhdksjkjdsj</li>
                    <li>jkdhskjhdksjkjdsj</li>
                    <li>jkdhskjhdksjkjdsj</li>
                    <li>jkdhskjhdksjkjdsj</li>
                    <li>jkdhskjhdksjkjdsj</li>
                    <li>jkdhskjhdksjkjdsj</li>
                </ul>
            </div>
        </details>
    </div>
        </li>

        <li>
            <div id="container">

        <details>
            <summary>How to sell on NYANKIE</summary>
            <div id="content">
                <ul>
                    <li>jkdhskjhdksjkjdsj</li>
                    <li>jkdhskjhdksjkjdsj</li>
                    <li>jkdhskjhdksjkjdsj</li>
                    <li>jkdhskjhdksjkjdsj</li>
                    <li>jkdhskjhdksjkjdsj</li>
                    <li>jkdhskjhdksjkjdsj</li>
                    <li>jkdhskjhdksjkjdsj</li>
                    <li>jkdhskjhdksjkjdsj</li>
                </ul>
            </div>
        </details>
    </div>
        </li>
    </ul>
    

</body>

</html>