<link rel="stylesheet" href="../css/loader.css" />

<div id="fade"></div>



<script>
    function hide(){
        const fade = document.querySelector("#fade");
        fade.style.display = "none";
    }
</script>