<link rel="stylesheet" href="../css/loader.css" />
    <link
      rel="stylesheet"
      href="../material-icons/css/materialdesignicons.min.css"
      media="all"
    />

<div id="fade">
    <!-- <i style="font-size: 68px; color: white;" class="mdi mdi-spin mdi-autorenew"></i> -->
    <div class="loader"></div>
</div>



<script>
    function hide(){
        const fade = document.querySelector("#fade");
        fade.style.display = "none";
    }

    function shew(){
        const fade = document.querySelector("#fade");
        fade.style.display = "flex";
    }

   
    window.addEventListener("load", (e)=>{
        e.preventDefault();
        hide()
        //setTimeout(hide, 1000)          
    })
   
</script>