<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">  
  <link rel="stylesheet" href="../css/payment.css" />
</head>

<body>
<%- include("loader") %> 
  <h2>Make Payment</h2>
  <div class="row">
    <div class="col-75">
      <div class="container">
        <form action="/orders" method="get">

          <div class="row">


            <div class="col-50">
              <h3>Accepted payment methods</h3>
              <!-- <label for="fname">Accepted Payment methhods</label> -->
              <div id="payment">
                <input type="radio" name="pay" id="momo" checked><label for="momo"> Pay with MOMO</label>
              </div>
             
              <div class="icon-container">

                <img src="font/payment.png" alt="" srcset="">
              </div>
              <label for="ccnum">Phone number</label>
              <input type="text" id="ccnum" name="cardnumber" placeholder="+233555089255">
              <label for="cname">Your MOMO account name</label>
              <input type="text" id="cname" name="cardname" placeholder="John More Doe">
              
              
              <div class="row">
                <div class="col-50">
                  <label for="expyear">Enter Amount</label>
                  <input type="text" id="expyear" name="expyear" placeholder="GHS">
                </div>
                <div class="col-50">
                  <label for="cvv">Network</label>
                  <select id="cvv" name="">
                    <option value="">MTN</option>
                    <option value="">AirtelTigo</option>
                    <option value="">Vodafone</option>
                  </select>
                 
                </div>
              </div>
            </div>

          </div>
          <label>
             <div id="payment">
                <input type="radio" name="pay" id="cash"><label for="cash"> Pay on delivery</label>
              </div>
          </label>

          <!-- <form action="/orders" method="get"> -->
            <input type="submit" value="I have made complete payment" class="btn" name="order">
          <!-- </form> -->
          

        </form>
        <!-- <form action="Homepage.php" method="post">
          <input type="submit" value="Continue shopping" class="btn" name="order">
        </form> -->
      </div>
    </div>
    <div class="col-25">
      <div class="container">
        <div id="prompt">Follow the steps below to complete the payment</div>
        <button>MTN</button>
          <button id="vodafone">AirtelTigo</button>
          <span class="price" style="color:black"></i> <b>
              <button>Vodafone</button></b></span>
        
        <div id="mtn-procedure">

          <ol>
            <div id="step">STEP 1</div>
            <li>Dial *170#</li>
            <li>Choose option 1 - Transfer Money</li>
            <li>The choose option 1 - MoMo User</li>
            <li>Enter the mobile number: <b>0555089255</b></li>
            <li>Repeat the mobile number: <b>0555089255</b></li>
            <li>Enter Amount <b>(The amount must be greater than or the same as the total price
                of your carts. If the amount is greater, the remaining amount will be credited to your prepaid account)</b></li>
            <li>Enter your MOMO account name as the reference code</li>
            <br>
             <b>NB:</b> The name associated with this MTN MoMo account number is: <b> STEPHEN NYANKSON </b>
             <br><br>

             <div id="step">STEP 2</div>
            <li>Click/Tap on <b>I have made complete payment</b> after complete payment is made</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

</body>

</html>