<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/search.css" />
    <link rel="stylesheet" href="../font-awsome-icons/css/all.css" />
  <link rel="stylesheet" href="../material-icons/css/materialdesignicons.min.css" media="all" />
    <!-- <link rel="stylesheet" href="../icons/css/all.css" /> -->
    <title>Document</title>
  </head>
  <body>
    <%- include("loader") %> 
    <header>
      <form autocomplete="off" action="/" method="post">
        <div class="autocomplete" style="width: 80%">
          <input
            id="myInput"
            type="text"
            name="cat"
            style="outline: none;"
            placeholder="What are you looking for?"
            autofocus
          />
        </div>
        <button type="submit" ><i style="font-size: 20px" class="mdi mdi-96px mdi-rotate-0 mdi-magnify"></i></button>
      </form>

      
    </header>

  </body>
</html>

<script src="../js/search.js"></script>
