<link rel="stylesheet" href="../css/base.css" />
<link rel="stylesheet" href="../font-awsome-icons/css/all.css" />
<link
  rel="stylesheet"
  href="../material-icons/css/materialdesignicons.min.css"
  media="all"
/>

<div id="mySidenav" class="sidenav">
  <span id="cat-top" class="closebtn" onclick="closeNav()"
    ><div></div>
    <div style="margin-left: 100%; font-weight: bold">&times;</div></span
  >
  <div id="category">
    <h1 id="cat-head">
      <i
        style="font-size: 24px"
        class="mdi mdi-96px mdi-rotate-0 mdi-view-list"
      ></i>
      <span> CATEGORIES</span>
    </h1>
    <li id="cat">
      <i
        style="font-size: 20px"
        class="mdi mdi-96px mdi-rotate-0 mdi-tshirt-crew-outline"
      ></i>
      Fassion
    </li>
    <li id="cat">
      <i
        style="font-size: 20px"
        class="mdi mdi-96px mdi-rotate-0 mdi-food-takeout-box-outline"
      ></i
      >Super market
    </li>
    <li id="cat">
      <i
        style="font-size: 20px"
        class="mdi mdi-96px mdi-rotate-0 mdi-cellphone"
      ></i
      >Phones & Accessories
    </li>
    <li id="cat">
      <i
        style="font-size: 20px"
        class="mdi mdi-96px mdi-rotate-0 mdi-desktop-mac"
      ></i
      >Computers
    </li>
    <li id="cat">
      <i
        style="font-size: 20px"
        class="mdi mdi-96px mdi-rotate-0 mdi-tshirt-crew-outline"
      ></i
      >Home
    </li>
    <li id="cat">
      <i
        style="font-size: 20px"
        class="mdi mdi-96px mdi-spin mdi-rotate-0 mdi-dots-circle"
      ></i
      >Fassion
    </li>
  </div>
  <br />
  <div>
    <h1 id="cat-head">
      <i
        style="font-size: 24px"
        class="mdi mdi-96px mdi-rotate-0 mdi-view-list"
      ></i>
      <span> CATEGORIES</span>
    </h1>
    <li id="cat">
      <i
        style="font-size: 20px"
        class="mdi mdi-96px mdi-rotate-0 mdi-tshirt-crew-outline"
      ></i>
      Fassion
    </li>
    <li id="cat">
      <i
        style="font-size: 20px"
        class="mdi mdi-96px mdi-rotate-0 mdi-food-takeout-box-outline"
      ></i
      >Super market
    </li>
    <li id="cat">
      <i
        style="font-size: 20px"
        class="mdi mdi-96px mdi-rotate-0 mdi-cellphone"
      ></i
      >Phones & Accessories
    </li>
    <li id="cat">
      <i
        style="font-size: 20px"
        class="mdi mdi-96px mdi-rotate-0 mdi-desktop-mac"
      ></i
      >Computers
    </li>
    <li id="cat">
      <i
        style="font-size: 20px"
        class="mdi mdi-96px mdi-rotate-0 mdi-tshirt-crew-outline"
      ></i
      >Home
    </li>
    <li id="cat">
      <i
        style="font-size: 20px"
        class="mdi mdi-96px mdi-spin mdi-rotate-0 mdi-dots-circle"
      ></i
      >Fassion
    </li>
  </div>

  <div>
    <h1 id="cat-head">
      <i
        style="font-size: 24px"
        class="mdi mdi-96px mdi-rotate-0 mdi-view-list"
      ></i>
      <span> CATEGORIES</span>
    </h1>
    <li id="cat">
      <i
        style="font-size: 20px"
        class="mdi mdi-96px mdi-rotate-0 mdi-tshirt-crew-outline"
      ></i>
      Fassion
    </li>
    <li id="cat">
      <i
        style="font-size: 20px"
        class="mdi mdi-96px mdi-rotate-0 mdi-food-takeout-box-outline"
      ></i
      >Super market
    </li>
    <li id="cat">
      <i
        style="font-size: 20px"
        class="mdi mdi-96px mdi-rotate-0 mdi-cellphone"
      ></i
      >Phones & Accessories
    </li>
    <li id="cat">
      <i
        style="font-size: 20px"
        class="mdi mdi-96px mdi-rotate-0 mdi-desktop-mac"
      ></i
      >Computers
    </li>
    <li id="cat">
      <i
        style="font-size: 20px"
        class="mdi mdi-96px mdi-rotate-0 mdi-tshirt-crew-outline"
      ></i
      >Home
    </li>
    <li id="cat">
      <i
        style="font-size: 20px"
        class="mdi mdi-96px mdi-spin mdi-rotate-0 mdi-dots-circle"
      ></i
      >Fassion
    </li>
  </div>
</div>

<span id="open-nav" onclick="openNav()">&#9776;</span>

<script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "80%";
    document.querySelector("#category").style.display = "flex";
  }

  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
  }
</script>
