      <div id="big-left">
          <!-- <div id="message">
          <div id="welcome-message">Welcome to nyankie</div>
          <div id="discount-message">
            Get items up to 70% off or get a coupon!
          </div>
        </div> -->
          <button id="view-more">
              <label for="">Welcome deal</label>
              <em class="mdi mdi-chevron-right-circle"></em>
          </button>
          <div id="super-deals">


              <div id="top">
                  <div class="top-left top">
                      <img class="mySlides slide-img" src="../font/others/slide1.png" alt="" />
                      <img class="mySlides slide-img" src="../font/others/slide2.png" alt="" />
                      <img class="mySlides slide-img" src="../font/others/slide3.png" alt="" />
                  </div>
                  <!-- <div class="top-right top"></div> -->
              </div>
          </div>
      </div>