      <div id="big-left">
          <!-- <div id="message">
          <div id="welcome-message">Welcome to nyankie</div>
          <div id="discount-message">
            Get items up to 70% off or get a coupon!
          </div>
        </div> -->
          <button id="view-more">
              <label for="">Welcome to NYANKIE</label>
              <em class="mdi mdi-chevron-right-circle"></em>
          </button>
          <div id="super-deals">


              <div id="top">
                  <div class="top-left top">
                      <img class="img mySlides slide-img" src="../font/others/1.png" data-src="../font/others/0f8f89af543c3b86c8fcb1125dbccf33.jpg" alt="" />
                      <img class="img mySlides slide-img" src="../font/others/1.png" data-src="../font/others/8b43d169f0abf8559b6d1c27201f416e.jpg" alt="" />
                      <img class="img mySlides slide-img" src="../font/others/1.png" data-src="../font/others/395ee2fc80ec60f3582cd60dee3b8e6d.jpg" alt="" />
                      <img class="img mySlides slide-img" src="../font/others/1.png" data-src="../font/others/ca396aefa1b2354ff63b9fe0ed735d32.jpg" alt="" />
                  </div>
                  <!-- <div class="top-right top"></div> -->
              </div>
          </div>
      </div>
      <!-- <script src="../js"></script> -->