<div id="topmost-section">
  <div class="category">
    <div class="cat-head">
      <em
        style="font-size: 24px"
        class="mdi mdi-96px mdi-rotate-0 mdi-view-list"
      ></em>
      <span> CATEGORIES</span>
    </div>

    <%- include("categoryNav") %> 

  </div>
  <div id="grid">
    <div id="long-bar">
      <div id="info-box">
        <em id="info-icon" class="mdi mdi-shield-check"></em>
        <div id="info-text">Safe & reliable payments</div>
      </div>
      <div id="info-box">
        <em id="info-icon" class="mdi mdi-headset"></em>
        <div id="info-text">24/7 Customer Service</div>
      </div>
      <div id="info-box">
        <em id="info-icon" class="mdi mdi-truck-fast-outline"></em>
        <div id="info-text">On-time delivery Guarantee</div>
      </div>
    </div>
    <div id="big-container">

      <%- include("slideshow") %> 
      <%- include("flashSale") %> 
      
    </div>
  </div>
</div>
