.groups {
  width: 98%;
  /* background-color: rgba(255, 255, 255, 0.342); */
  display: inline-flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 5px;
  margin-bottom: 10px;
}

#group {
  width: 100%;
  background-color: white;
  margin-bottom: 5px;
  border-radius: 4px;
}

#group-head {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

#group-container {
  width: 100%;
  /* padding: 5px; */
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
  /* display: inline-flex; */
  justify-content: space-around;
}

#group-form {
  width: 15.5%;
  outline: none;
}

#img-container {
  width: 100%;
  background-color: rgb(241, 241, 241);
  border-radius: 8px;
}

#group-img-btn {
  width: 100%;
  /* background-image: url('../font/shu1.jpg'); */
  background-size: 100% 100%;
  background-color: white;
  cursor: pointer;
  outline: none;

  /* height: 16vh; */
  border: none;
}

#group-img-btn:hover {
  transform: scale(1.1);
  box-shadow: 8px 3px 20px 1px rgba(226, 226, 226, 0.685);
  border-radius: 8px;
}

#group-img {
  width: 50%;
  /* height: 4.5em; */
}

#group-name {
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 1250px) {
  .groups {
    width: 100%;
  }

  #group {
    /* width: 24%; */
  }

  #group-img {
    /* width: 60%; */
  }

  .last {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .groups {
    width: 100%;
  }

  #group {
    /* width: 48.5%; */
  }

  #group-img {
    width: 60%;
  }

  .last {
    display: block;
  }
}

@media screen and (max-width: 750px) {
  .groups {
    width: 100%;
  }

  /* #group{
        width: 48.5%;
    } */

  #group-img {
    width: 70%;
  }

  .last {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  #group {
    width: 100%;
    border-radius: 0px;
    margin-bottom: 10px;
  }

  #img-container {
    /* background-color: rgba(233, 227, 227, 0.911); */
  }

  #group-img {
    width: 70%;
    /* height: 3.8em; */
  }

  #group-form {
    width: 30%;
  }

  #group-img-btn {
    width: 110%;
  }

  .groups {
    background-color: white;
  }

  .last {
    display: block;
  }
}
