#main-container {
  width: 90%;
  /* height: ; */
  /* display:flex; */
  background-color: rgba(197, 158, 158, 0);
  margin-top: 65px;
  margin-left: 5%;
  border-radius: 15px;
}

#topmost-section {
  /* float: left; */
  padding-top: 10px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
  background-color: rgb(243, 243, 243);
}

#topmost-left {
  float: left;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  background-color: rgb(255, 255, 255);
  margin-left: 0%;
  margin-right: 0%;
}
#img1 {
  width: 100%;
}

.mySlides {
  display: none;
}

.slide-img{
  height: 100%;
  border-radius: 5px;
}

#banners {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#banner {
  width: 48%;
  height: auto;

  /* background-color: blue; */
}

#text-1 {
  width: auto;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  /* padding-bottom: 10px; */
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* display: none; */
  border-radius: 10px;
}

#text-2 {
  width: auto;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  /* padding-bottom: 10px; */
  font-size: 16px;
  display: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

#sign {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#box {
  width: 100%;
  height: auto;
  margin-top: 10px;
  /* background-color: chocolate; */
}

#login-btn {
  background-color: rgb(228, 227, 227);
  border-radius: 10px;
  border: none;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-left: 8px;
  padding-right: 8px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
}

#login-btn:hover {
  background-color: dodgerblue;
  color: white;
}

#prepaid-btn {
  background-color: rgb(228, 227, 227);
  border-radius: 4px;
  border: none;
  padding: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-left: 2px;
  padding-right: 2px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
}

#prepaid-btn:hover {
  background-color: dodgerblue;
  color: white;
}

#signup-btn {
  background-color: orangered;
  border-radius: 10px;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-left: 8px;
  padding-right: 8px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
}

#signup-btn:hover {
  background-color: rgb(209, 209, 209);
  color: black;
}

#invite-btn {
  background-color: orangered;
  border-radius: 4px;
  color: white;
  border: none;
  padding: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-left: 3px;
  padding-right: 3px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
}

#invite-btn:hover {
  background-color: rgb(209, 209, 209);
  color: black;
}

#user-greeting-1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 4px;
  font-weight: bold;
  /* color: red; */
}

#user-contact {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 5px;

  font-weight: bold;
  color: orangered;
  background-color: rgb(241, 241, 241);
  padding: 5px;
  border-radius: 15px;
}

#category {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#demo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  float: left;
  height: auto;
  margin-left: 0%;
  margin-top: 0px;
  margin-bottom: 15px;
  /* justify-content: center; */
  background-color: rgb(255, 255, 255);
}

.demo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-evenl; */
  width: 100%;
  float: left;
  height: auto;
  margin-left: 0%;
  margin-top: 20px;
  padding-bottom: 100px;
  /* justify-content: space-between; */
  align-items: center;
  background-color: rgb(245, 245, 255);
}

#item {
  width: 15%;
  float: left;
  height: auto;
  background-color: rgb(255, 255, 255);
  margin: 0.5em;
  border: none;
  /* padding: 0px; */
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  flex-wrap: no-wrap;
  margin-bottom: 5px;
  margin-top: 5px;
  /* cursor: pointer; */
  color: rgb(19, 14, 14);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

#item-category {
  width: 50%;
  float: left;
  height: auto;
  background-color: rgb(255, 255, 255);
  /* margin: 0.5%; */
  border: none;
  /* padding: 0px; */
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: no-wrap;
  /* cursor: pointer; */
  color: rgb(19, 14, 14);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

#image-btn {
  width: 100%;
  min-height: 160px;
  border: none;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

#item-img {
  /* width: 100%; */
  height: 9.5em;
  border-radius: 0px;
}

#item-category-img {
  width: 70%;
}

#item-name {
  width: 90%;
  /* margin-left: 5%; */
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  margin-right: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

#new-price {
  font-size: 18px;
  /* margin-left: 10px; */
  margin-right: 10px;
  font-weight: bold;
  /* color: orangered; */
}

#weekly-deal {
  width: 100%;
  padding: 5px 18px;
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  /* background-color: rgba(24, 31, 23, 0.775); */
  background-color: rgba(255, 255, 255, 0.874);
  /* color: white; */
  margin-top: 10px;
  margin-bottom: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 6px;
}

#percent-off {
  /* position: fixed; */
  font-size: 14px;
  margin-left: 0px;
  display: flex;
  /* display: none; */
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#prices {
  /* width: 90%; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* align-items: center; */
}

#flash-prices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#old-price {
  font-size: 14px;
  float: right;
  color: rgba(128, 128, 128, 0.596);
  /* margin-left: 10px; */
  text-decoration: line-through;
}

.percent-off {
  float: right;
  /* text-decoration: none; */
  background-color: orangered;
  color: white;
  padding: 3px 6px;
}

#star {
  font-size: 14px;
  margin-right: 10px;
  color: orange;
  /* display: none; */
}

#item:hover {
  background-color: rgb(139, 155, 243);
  box-shadow: 2px 2px 10px 2px silver;
  border-radius: 10px;
  /* border-top-left-radius: 50px; */
  /* border-bottom-right-radius: 30px; */
}

#con {
  float: left;
  width: 13%;
  margin: 1.7%;
  background-color: white;
  border-radius: 10%;
  cursor: pointer;
}

#con:hover {
  /* box-shadow: 2px 2px 9px 2px silver; */
  /* width: 14%; */
}

#text {
  width: 99%;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(88, 84, 84);
}

#img-con {
  text-align: center;
  width: 100%;
  min-height: auto;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgba(228, 228, 228, 0);
}

#img-con1 {
  text-align: center;
  width: 100%;
  min-height: 50px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}

#img2 {
  width: 100%;
  border-radius: 100%;
}

#small-box {
  width: 100%;
  height: 70px;
  background-color: red;
}

#items-container {
  width: 100%;
  margin-left: 0%;
  /*  height: 200px; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* background-color: rgb(199, 11, 11); */
}

#CONTAINER {
  width: 32.5%;
  min-height: 300px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#CONTAINER-BIG {
  width: 35%;
  min-height: 300px;
  background: linear-gradient(to right, rgb(149, 129, 237), rgb(216, 143, 226));
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  /* border-radius: 7px; */
}

#view-all {
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: silver;
  /* background: linear-gradient(to right, rgb(174, 167, 206), rgb(237, 129, 201)); */
  transition: 6;
  color: white;
  /* box-shadow: 5px 3px 6px 3px white; */
}

#view-all:hover {
  background: linear-gradient(to right, orangered, orange);
  transition: 6;
}

#flash {
  font-size: 50px;
  color: red;
}

#BANA {
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* background-color: blueviolet; */
  background: linear-gradient(to right, rgb(149, 129, 237), rgb(224, 129, 237));
}

#space-bet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 500px) {
  #flash-small {
    display: none;
  }
}

@media screen and (max-width: 1260px) {
  #main-container {
    width: 96%;
    margin-left: 2%;
  }
}

@media screen and (max-width: 1000px) {
  #item {
    width: 25%;
    /* margin: 4%; */
  }

  /* .demo{
        padding: 3%;
    } */
}

@media screen and (max-width: 800px) {
  #item {
    width: 30%;
    /* margin: 4%; */
  }

  #topmost-left {
    width: 100%;
    margin-left: 0%;
  }
  #topmost-right {
    width: 100%;
    margin-left: 7%;
    display: none;
  }
}

@media screen and (max-width: 500px) {
  #main-container {
    width: 100%;
    margin-left: 0%;
  }

  #topmost-left {
    width: 100%;
    margin-left: 0%;
  }
  #topmost-right {
    width: 100%;
    margin-left: 7%;
    display: none;
  }

  #con {
    width: 22%;
    margin: 4%;
    border-radius: 4px;
  }

  #img-con {
    min-height: 50px;
  }

  #text {
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  #banners {
    flex-direction: column;
    width: 100%;
    margin-left: 0%;
    background-color: white;
    padding-top: 6px;
  }

  .bana-img {
    border-radius: 4px;
  }

  #banner {
    width: 96%;
    background-color: white;
    margin-left: 2%;
    border-radius: 4px;
  }

  #demo {
    width: 100%;
    margin-left: 0%;
    /* overflow-x: scroll; */
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  #item {
    width: 48%;
    margin: 0.5%;    
    margin-bottom: 0%;
  }

  #item-category {
    width: 45%;
  }

  #item-category-img {
    width: 90%;
  }

  #prices {
    justify-content: flex-start;
    align-items: flex-start;
    /* margin-left: 15%; */
  }

  #item-name {
    font-size: 13px;
    /* margin-left: 15%; */
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #item-img {
    /* width: 100%; */
    height: 8em;
  }

  #new-price {
    font-size: 14px;
    font-weight: normal;
    margin-right: 10px;
  }

  .percent-off {
    /* display: none;     */
    margin-left: 20px;
  }

  #percent-off {
    /* margin-left: 15%; */
  }

  #old-price {
    font-size: 12px;
    color: gray;
  }

  #item:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 0px 0px rgb(255, 255, 255);
    border-radius: 10px;
    /* border-top-left-radius: 50px; */
    /* border-bottom-right-radius: 30px; */
  }

  #CONTAINER {
    width: 47%;
    min-height: 100px;
  }

  #items-container {
  }

  #CONTAINER-BIG {
    display: none;
  }
}
