#main-container {
  width: 90%;
  height: auto;
  margin-left: 5%;
  margin-top: 10px;
  padding-bottom: 20px;
  border: 1px silver solid;
  background-color: white;
}

#container-head {
  width: 100%;
  /* height: 20px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  cursor: pointer;
  /* border: 1px silver solid; */
  /* background-color: blue; */
}

#pending {
  width: 50%;
  background-color: white;
  display: flex;
  font-size: 26px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  justify-content: center;
  align-items: center;
}

#delivered {
  width: 50%;
  background-color: silver;
  display: flex;
  font-size: 26px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  justify-content: center;
  align-items: center;
}

#orders {
  width: 100%;
  height: auto;
  /* background-color: red; */
}

.order {
  width: 70%;
  height: auto;
  margin-left: 15%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 1px 5px 1px silver;
  background-color: rgb(255, 255, 255);
}

#order-head {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* padding-left: 5px; */
  /* padding-right: 5px; */
  background-color: rgb(212, 231, 241);
}

#order {
  width: 100%;
  height: auto;
  /* margin-left: 10%; */
  /* margin-top: 10px; */
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
}

#order-img {
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px silver solid;
  background-color: rgb(255, 255, 255);
}

#IMG{
  width: 70%;
}

#order-det {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

#sec1{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-right: 1px silver solid;
  padding: 7px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
}

#sec2{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#order-status{
  border: none;
  font-size: 16px;
  color: orangered;
}

#ID{
  margin-left: 5px;
  font-size: 17px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#date{
  margin-right: 10px;
  font-size: 17px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#others{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media screen and (max-width: 650px) {
  #main-container{
    width: 100%;
    margin-left: 0%;
  }

  .order{
    width: 100%;
    margin-left: 0%;
  }

  #order{
    display: flex;
    flex-direction: column;
  }

  #order-det{
    width: 100%;
    border-bottom: 1px silver solid;
  }

  #order-img{
    width: 40%;
  }

  #sec2{
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
